<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="https://dieghernan.github.io/COVID19/assets/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://dieghernan.github.io/COVID19/assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://dieghernan.github.io/COVID19/assets/favicon/favicon-16x16.png">
<link rel="manifest" href="https://dieghernan.github.io/COVID19/assets/favicon/site.webmanifest">
<link rel="mask-icon" href="https://dieghernan.github.io/COVID19/assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="https://dieghernan.github.io/COVID19/assets/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#9f00a7">
<meta name="msapplication-config" content="https://dieghernan.github.io/COVID19/assets/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">